{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://i.ibb.co/c1yxfVY/pngwing-com.png" type="image/icon type" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <title>PVU</title>
  <style>
    [v-cloak] {
      display: none;
    }

    .v-card__title {
      word-break: normal;
    }

    @media screen and (max-width: 600px) {
      footer > *:first-child {
        flex-direction: column;
      }
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <v-app style="background-color: #e3f2fd;">
      <v-carousel cycle class="mb-1 pb-1">
        <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src" reverse-transition="fade-transition" transition="fade-transition">
          <v-row align="center" class="mt-10">
            <v-col class="text-center" cols="12">
              <v-row justify="center" align="center">
                <h1 class="font-weight-regular" style="color: #e3f2fd" :class="{
                    subheading: $vuetify.breakpoint.smAndDown,
                    'display-4': $vuetify.breakpoint.mdAndUp,
                  }">
                  Personas
                </h1>
              </v-row>
              <v-row justify="center" align="center">
                <h1 class="font-weight-regular" style="color: #e3f2fd" :class="{
                    subheading: $vuetify.breakpoint.smAndDown,
                    'display-4': $vuetify.breakpoint.mdAndUp,
                  }">
                  Voluntarias
                </h1>
              </v-row>
              <v-row justify="center" align="center">
                <h1 class="font-weight-regular" style="color: #e3f2fd" :class="{
                    subheading: $vuetify.breakpoint.smAndDown,
                    'display-4': $vuetify.breakpoint.mdAndUp,
                  }">
                  Unidas
                </h1>
              </v-row>
            </v-col>
          </v-row>
        </v-carousel-item>
      </v-carousel>
      <v-container style="color: transparent" class="mt-0 pt-0">
        <v-row dense>
          <pvu-div n-cols="1" n-rows="1">
            <pvu-card title="¿Que es PVU?" color="#751a5c" img="https://i.ibb.co/X8GLcNt/iconopvu.jpg">
              <template #content>
                Es una Asociación Civil que tiene como principal objetivo mejorar la calidad de vida de las
                personas y equiparar oportunidades en nuestra sociedad a través de La Educación, brindando
                talleres de diferentes índoles; y con asistencia ligadas a una mejor alimentación nutricional en
                sectores vulnerables, entre varias actividades. También creemos en el Trabajo en Equipo, por eso
                generamos importantes
                alianzas con fundaciones y/o emprendimientos de triple impacto.
              </template>
            </pvu-card>
          </pvu-div>
          <pvu-div n-cols="2" n-rows="1">
            <pvu-card title="¿Queres ser voluntario/a?" color="#a52582"
              img="https://i.ibb.co/xq5Bvjf/Whats-App-Image-2020-11-09-at-8-21-41-PM.jpg">
              <template #content>
                Sumarte al Equipo de Voluntariado de PVU requiere Compromiso, Responsabilidad y Empatía. Se participa de
                talleres de apoyo escolar, jornadas deportivas, roperos comunitarios y cocina. Te invitamos a leer en
                detalles los requisitos y formalidades para luego poder completar el Formulario de Aspirantes a las
                distintas actividades.
              </template>
              <template #buttons>
                <v-btn text target="_blank"
                  href="https://docs.google.com/forms/d/e/1FAIpQLSfNCz8c53Pr56I4cTy6RqSd1cM7gQBHu2usEkux3gQrt0vXow/viewform?usp=sf_link">
                  <v-icon>mdi-clipboard-edit-outline</v-icon>&nbsp;REGLAMENTO E INSCRIPCIÓN
                </v-btn>
              </template>
            </pvu-card>
            <pvu-card title="¿Queres ser donante?" color="#a52582" img="https://i.ibb.co/HdtTWsT/donante.jpg">
              <template #content>
                Sumarte al Equipo de Voluntariado de PVU requiere Compromiso, Responsabilidad y Empatía. Se participa de
                talleres de apoyo escolar, jornadas deportivas, roperos comunitarios y cocina. Te invitamos a leer en
                detalles los requisitos y formalidades para luego poder completar el Formulario de Aspirantes a las
                distintas actividades.
              </template>
              <template #buttons>
                <v-btn text target="_blank"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScSnRJrPo23JfgeR811SWViTvTmzBLQgLX4q6GQR_rQ8jSfgA/viewform?usp=sf_link">
                  <v-icon>mdi-home-heart</v-icon>&nbsp; Donar
                </v-btn>
                <v-menu bottom :offset-y="offset">
                  <template v-slot:activator="{on}">
                    <v-btn text v-on="on">
                      <v-icon>mdi-piggy-bank</v-icon>&nbsp; Donar Dinero
                    </v-btn>
                  </template>
                  <v-list color="#a52582">
                    <v-list-item link v-for="(donacion, index) in donaciones" :key="'donacion' + index"
                      :href="donacion.src">
                      <v-list-item-title v-text="donacion.title" class="white--text"></v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </pvu-card>
          </pvu-div>
          <pvu-div n-cols="2" n-rows="3">
            <pvu-card title="Menu" color="indigo"
              img="https://i.ibb.co/HCmL4wR/183476485-142070001269860-2417245263285060474-n.jpg">
              <template #content>
                Este es el espacio donde planificamos las distintas meriendas y
                cenas que brindamos cada semana de
                acuerdo a los alimentos disponibles y a algunos objetivos nutricionales.
              </template>
              <template #buttons>
                <v-btn text href="/adminPVUApp/menu/">
                  <v-icon>mdi-open-in-new</v-icon>&nbsp; Ir Ahora
                </v-btn>
              </template>
            </pvu-card>
            <pvu-card title="Asistencia a Talleres Educativos" color="light-blue"
              img="https://i.ibb.co/QK1p8rM/170147531-815043709106610-277167437014925875-n.jpg">
              <template #content>
                las familias en la participación de las
                distintas temáticas que abordamos en favor de su educación y progreso.
              </template>
              <template #buttons>
                <v-btn text href="/adminPVUApp/asistencia/">
                  <v-icon>mdi-open-in-new</v-icon>&nbsp; Ir Ahora
                </v-btn>
              </template>
            </pvu-card>
            <pvu-card title="Colecta Actual" color="#009688" img="https://i.ibb.co/fd43DW4/asis.jpg">
              <template #content>
                Sumarte al Equipo de Voluntariado de PVU requiere Compromiso, Responsabilidad y Empatía. Se participa de
                talleres de apoyo escolar, jornadas deportivas, roperos comunitarios y cocina. Te invitamos a leer en
                detalles los requisitos y formalidades para luego poder completar el Formulario de Aspirantes a las
                distintas actividades.
              </template>
            </pvu-card>
            <pvu-card title="Pasteleria Para Mujeres Trabajadoras" color="primary"
              img="https://i.ibb.co/q9rj3Kk/panaderia.png">
              <template #content>
                Este es un Taller que gestamos para brindar la posibilidad a mujeres de Villa Los Robles de aprender un
                nuevo oficio y generar ingresos genuinos trabajando a favor de mejorar su calidad de vida y de sus
                familias.
                El lema de progresar a través del esfuerzo se hace presente en este equipo.
                RECIBIMOS DONACIONES de harina, manteca, dulce de leche, dulce de membrillo y de batata, levadura entre
                otros.
                TRABAJAMOS CON MATERIA PRIMA DE CALIDAD y nuestros precios son competitivos sobre todo para
                revendedores. Con tu compra ayudas a que muchas mujeres puedan continuar con este emprendimiento laboral
                y social.
              </template>
              <template #buttons>
                <v-btn text href="https://forms.gle/sBKNySyaiqaqRJa58">
                  <v-icon>mdi-open-in-new</v-icon>&nbsp; Ir Ahora
                </v-btn>
              </template>
            </pvu-card>
            <pvu-card title="Nuestra Cuenta Bancaria" color="#1F7087" img="https://i.ibb.co/K9CV8Br/menu.jpg">
              <template #content>
                También pueden participar colaborando a través de nuestra cuenta ya que sus aportes nos permiten
                contar
                dentro del Equipo Voluntario con profesionales de distintas áreas de la Educación.<br>
                Banco Santander Rio – Cuenta 390-001736/1<br>
                CBU 0720390720000000173618<br>
                ALIAS Personas.Voluntarias
              </template>
            </pvu-card>
            <pvu-card title="Microplanta de Bloques 3C" color="deep-purple"
              img="https://i.ibb.co/xjFbcLF/235522663-2995193407433414-8546209534756409599-n.jpg  ">
              <template #content>
                Gestamos este vínculo con la empresa 3C CONSTRUCCIONES porque nos identifican las mismas ganas y los
                mismos valores. A través de una innovadora tecnología de economía circular y triple impacto, este
                proyecto conjunto nos permite insertar en el mundo laboral a miembros de las familias de Villa Los
                Robles, donde está ubicada nuestra microplanta.
                ACTUALMENTE estamos ampliando el aula comedor con una nueva salita para actividades de lectura y con
                profesionales de psicología; y un nuevo espacio destinado para la cocina.
                QUERES SUMAR TU APORTE? Podés hacerlo donando botellas de plástico de cualquier tipo que sean inferiores
                a bidones de 5lts.
              </template>
            </pvu-card>
          </pvu-div>
        </v-row>
      </v-container>
      <v-footer padless style="background-color: #8aacc8">
        <v-col class="d-flex justify-center align-center" cols="12">
          <div>
            <pvu-button url="mailto:pvunidas@gmail.com?Subject=Personas%20voluntarias%20unidas%20" icon="gmail">
            </pvu-button>
            <pvu-button url="https://www.instagram.com/pvunidas" icon="instagram"></pvu-button>
            <pvu-button url="https://www.facebook.com/pvunidas" icon="facebook"></pvu-button>
            <pvu-button url="https://play.google.com/store/apps/details?id=ar.pvunidas" icon="google-play"></pvu-button>
            <pvu-button disabled icon="whatsapp"></pvu-button>
          </div>
          <span>2022 - <strong>Personas Voluntarias Unidas</strong></span>
        </v-col>
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="{% static "components.js" %}"></script>
  <script>
    window.addEventListener('load', () => {
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
          return {
            offset: true,
            items: [
              {
                src: 'https://i.ibb.co/7CpL8ZX/74288582-1468483883307690-6887282600927297536-o.jpg',
              },
              {
                src: 'https://i.ibb.co/d4JCW5V/118030608-1735366049952804-5621280204442170025-o.jpg',
              },
            ],
            donaciones: [
              {
                title: '$200',
                src: 'http://mpago.la/2GJHbeQ',
              },
              {
                title: '$500',
                src: 'http://mpago.la/2DwEwsz',
              },
              {
                title: '$1000',
                src: 'http://mpago.la/2tqcND6',
              },
              {
                title: '$2000',
                src: 'http://mpago.la/1eoy1yY',
              },
              {
                title: '$5000',
                src: 'http://mpago.la/1wjD5bC',
              },
            ]
          }
        }
      })
    }, { once: true })
  </script>
</body>

</html>
