{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://i.ibb.co/c1yxfVY/pngwing-com.png" type="image/icon type" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <title>PVU</title>
  <style>
    [v-cloak] {
      display: none;
    }

    .v-card__title {
      word-break: normal;
    }

    @media screen and (max-width: 600px) {
      footer > *:first-child {
        flex-direction: column;
      }
    }
    .v-avatar {
  align-self: flex-start;
  margin-left: auto;
}

.v-avatar img {
  float: right;
  margin: 0 0 8px 8px;
}
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <v-app style="background-color: #e3f2fd;">
      <v-carousel cycle class="mb-1 pb-1">
        <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src" reverse-transition="fade-transition" transition="fade-transition">
          <v-row align="center" class="mt-10">
            <v-col class="text-center" cols="12">
              <v-row justify="center" align="center">
                <h1 class="font-weight-regular" style="color: #e3f2fd" :class="{
                    subheading: $vuetify.breakpoint.smAndDown,
                    'display-4': $vuetify.breakpoint.mdAndUp,
                  }">
                  Personas
                </h1>
              </v-row>
              <v-row justify="center" align="center">
                <h1 class="font-weight-regular" style="color: #e3f2fd" :class="{
                    subheading: $vuetify.breakpoint.smAndDown,
                    'display-4': $vuetify.breakpoint.mdAndUp,
                  }">
                  Voluntarias
                </h1>
              </v-row>
              <v-row justify="center" align="center">
                <h1 class="font-weight-regular" style="color: #e3f2fd" :class="{
                    subheading: $vuetify.breakpoint.smAndDown,
                    'display-4': $vuetify.breakpoint.mdAndUp,
                  }">
                  Unidas
                </h1>
              </v-row>
            </v-col>
          </v-row>
        </v-carousel-item>
      </v-carousel>
      <v-container style="color: transparent" class="mt-0 pt-0">
        <v-row dense>
          <pvu-div n-cols="1" n-rows="1">
            <pvu-card title="¿Que es PVU?" color="#751a5c" img="https://i.ibb.co/X8GLcNt/iconopvu.jpg">
              <template #content>
                Es una Asociación Civil que tiene como principal objetivo mejorar la calidad de vida de las personas y equiparar oportunidades en nuestra sociedad a través de La Educación, brindando talleres de apoyo escolar como actividad principal para acompañar el recorrido de niños y niñas durante esta etapa de su infancia y adolescencia. 
Al mismo tiempo complementamos con otros talleres de diversas índoles, como ESI o educación de salud bucal para generar costumbres sanitarias que favorezcan su desarrollo, entre otros. Además, brindamos asistencia ligadas a una mejor alimentación nutricional en los territorios vulnerables donde llevamos a cabo nuestra labor voluntaria, entre varias actividades. 
También creemos en el Trabajo en Equipo, por eso generamos importantes alianzas con fundaciones y/o emprendimientos de triple impacto.
              </template>
            </pvu-card>
          </pvu-div>
          <pvu-div n-cols="2" n-rows="1">
            <pvu-card title="Queres ser Voluntario/a?" color="#a52582"
              img='static/imgs/2024-1/voluntario.jpg'>
              <template #content>
                Sumarte al Equipo de Voluntariado de PVU requiere Compromiso, Responsabilidad y Empatía. Se participa de
                talleres de apoyo escolar, jornadas deportivas, roperos comunitarios y cocina. Te invitamos a leer en
                detalles los requisitos y formalidades para luego poder completar el Formulario de Aspirantes a las
                distintas actividades.
              </template>
              <template #buttons>
                <v-btn text target="_blank"
                  href="https://docs.google.com/forms/d/e/1FAIpQLSfNCz8c53Pr56I4cTy6RqSd1cM7gQBHu2usEkux3gQrt0vXow/viewform?usp=sf_link">
                  <v-icon>mdi-clipboard-edit-outline</v-icon>&nbsp;REGLAMENTO E INSCRIPCIÓN
                </v-btn>
              </template>
            </pvu-card>
            <pvu-card title="¿Queres ser donante?" color="#a52582" img='static/imgs/2024-1/colecta.jpg'>
              <template #content>
                Si no contas con tiempo para dedicarle al voluntariado, el aporte de donaciones también es sumamente importante para poder ayudar a niñas y niños. 
En PVU aceptamos alimentos no perecederos, carnes, pollos, verduras y útiles escolares durante todo el año. Las entregas se coordinan con miembros del Equipo Voluntario de acuerdo a la zona donde resida el/la donante. También contamos con cuenta de Mercado Pago donde recibimos sus aportes que son utilizados para lo mencionado anteriormente.

              </template>
              <template #buttons>
                <v-btn text target="_blank"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScSnRJrPo23JfgeR811SWViTvTmzBLQgLX4q6GQR_rQ8jSfgA/viewform?usp=sf_link">
                  <v-icon>mdi-home-heart</v-icon>&nbsp; DONAR EN ESPECIE 
                </v-btn>
                <v-menu bottom :offset-y="offset">
                  <template v-slot:activator="{on}">
                    <v-btn text v-on="on">
                      <v-icon>mdi-piggy-bank</v-icon>&nbsp; Donar Dinero
                    </v-btn>
                  </template>
                  <v-list color="#a52582">
                    <v-list-item link v-for="(donacion, index) in donaciones" :key="'donacion' + index"
                      :href="donacion.src">
                      <v-list-item-title v-text="donacion.title" class="white--text"></v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </pvu-card>
          </pvu-div>
          <pvu-div n-cols="2" n-rows="3">
            <pvu-card title="Nuestra Cuenta Bancaria" color="indigo"
            img='static/imgs/2024-1/cuenta.jpg'>
              <template #content>
                
                También podes participar colaborando a través de nuestra cuenta ya que sus aportes nos permiten afrontar los honorarios de los profesionales de distintas áreas de la Educación que guían a nuestro Equipo Voluntario durante los talleres educativos
                <br>
                  Banco Santander Rio – Cuenta 390-001736/1<br>
                CBU 0720390720000000173618<br>
                ALIAS Personas.Voluntarias
              </template>
            </pvu-card>
            <pvu-card title="Obra Aula Comedor (Nuevo)" color="light-blue"
              img="static/imgs/2024-1/obra1.jpg">
              <template #content>
                Actualmente estamos desarrollando nuestra tarea voluntaria en Barrio Cooperativa Argüello. Conocimos a la familia de Marta a través de nuestro entorno y, evaluando que ellos mismos asistían desinteresadamente a niños y jóvenes de su humilde barrio sin ayuda alguna más que la del fruto de sus trabajos particulares, decidimos acompañarles porque son personas que se esfuerzan para generar situaciones positivas en la vida de otros.<br>
Entonces, durante todo este 2024 vamos a culminar la obra que ellos mismos arrancaron para concluir con un salón de 100mts2 que ya tiene sus cuatro paredes levantadas. Allí vamos a realizar el cerramiento del techo con chapas y tirantes de madera, además de la loza, un baño y cocina. 
Si desean colaborar con materiales o similares, pueden escribirnos un mail en el link que figura en este banner; o bien colaborar con dinero para la mano de obra del barrio en el apartado DONANTES de esta página web.
              </template>
              <template #buttons>
                <v-btn text href="mailto:pvunidas@gmail.com">
                  <v-icon>mdi-email</v-icon>&nbsp; Contactar
                </v-btn>
              </template>
            </pvu-card>
            <pvu-card title="Colectas Habituales" color="#009688" img='static/imgs/2024-1/colecta3.jpg'>
              <template #content>
                Durante el año, realizamos distintas colectas con objetivos puntuales. Invitamos a los donantes a ser exigentes con la donación: es el afecto de brindarle al Otro algún elemento que se requiera oportunamente, esté nuevo o en impecable estado, y pueda ser de utilidad para esas personas que pretendemos beneficiar con nuestras acciones.<br>
                <br>
                RECIBIMOS TODO EL AÑO: útiles escolares, mochilas, cartucheras, etc..
                <br>
                RECIBIMOS EN OTOÑO INVIERNO: frazadas (una de las colectas que más nos cuesta lograr). Las viviendas de algunas de las familias son muy humildes y el frío se filtra por todos lados. Mientras más juntemos, más abrigamos; de modo que se evitan enfermedades y también logramos ayudar a un descanso más adecuado por las noches.
                <br>
                IMPORTANTE ROPA: únicamente recibimos ropa muy puntual nueva o prácticamente nueva (no gastada, no dañada) para realizar regalos de cumpleaños a nenes y nenas entre los 4 y 16 años… porque todos merecemos un obsequio lindo y nuevo en nuestro día!
              </template>
            </pvu-card>
            <pvu-card title="Otras Actividades" color="primary"
            img='static/imgs/2024-1/otras.jpg'>
              <template #content>
                PVU es una asociación civil que existe desde el año 2017. Durante todo este tiempo, hemos visitado y realizado actividad educativa, social y voluntaria en numerosos territorios vulnerables. 
                <br>
                Para conocer sobre muchísimas tareas anteriores les invitamos a navegar por nuestras redes sociales y ver las historias destacadas: <br>
                <a href="https://www.instagram.com/pvunidas" target="_blank" style="color: white; text-decoration: underline;">Instagram @pvunidas</a> <br> 
                <a href="https://www.facebook.com/PersonasVoluntariasUnidas" target="_blank" style="color: white; text-decoration: underline;">Página Facebook: Personas Voluntarias Unidas</a><br>
              </template>
              <template #buttons>
                <v-btn text href="https://forms.gle/sBKNySyaiqaqRJa58">
                  <v-icon>mdi-open-in-new</v-icon>&nbsp; Ir Ahora
                </v-btn>
              </template>
            </pvu-card>
            <pvu-card title="Asistencia a Talleres Educativos" color="#1F7087" img='static/imgs/2024-1/educativos1.jpg'
            >
              <template #content>
                En este espacio nos informamos de la frecuencia y el interés de las familias en la participación de las distintas temáticas que abordamos en favor de su educación y progreso.
              </template>
            </pvu-card>
            <pvu-card title="Menu" color="deep-purple"
              img='static/imgs/2024-1/comedor.jpg'>
              <template #content>
                Este es el espacio donde planificamos las distintas meriendas y cenas que brindamos cada semana de acuerdo a los alimentos disponibles y a algunos objetivos nutricionales.
              </template>
            </pvu-card>
          </pvu-div>
        </v-row>
      </v-container>
      <v-footer padless style="background-color: #8aacc8">
        <v-col class="d-flex justify-center align-center" cols="12">
          <div>
            <pvu-button url="mailto:pvunidas@gmail.com?Subject=Personas%20voluntarias%20unidas%20" icon="gmail">
            </pvu-button>
            <pvu-button url="https://www.instagram.com/pvunidas" icon="instagram"></pvu-button>
            <pvu-button url="https://www.facebook.com/pvunidas" icon="facebook"></pvu-button>
            <pvu-button url="https://play.google.com/store/apps/details?id=ar.pvunidas" icon="google-play"></pvu-button>
            <pvu-button disabled icon="whatsapp"></pvu-button>
          </div>
          <span>2022 - <strong>Personas Voluntarias Unidas</strong></span>
        </v-col>
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="{% static "components.js" %}"></script>
  <script>
    window.addEventListener('load', () => {
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
          return {
            offset: true,
            items: [
              {
                src: 'static/imgs/2024-1/portada1.jpg',
              },
              {
                src: 'static/imgs/2024-1/portada2.jpg',
              },
              {
                src: 'https://i.ibb.co/d4JCW5V/118030608-1735366049952804-5621280204442170025-o.jpg',
              },
            ],
            donaciones: [
              {
                title: '$1000',
                src: 'https://mpago.la/1Swy6Lh',
              },
              {
                title: '$2000',
                src: 'https://mpago.la/23KYsjh',
              },
              {
                title: '$5000',
                src: 'https://mpago.la/1H8ehpr',
              },
              {
                title: '$10000',
                src: 'https://mpago.la/2HoNa6t',
              },
            ]
          }
        }
      })
    }, { once: true })
  </script>
</body>

</html>
